{% load static %}
{% include "base.html" %}

{% block content %}
<div>
	{% if user.is_authenticated %}
	<h3 class="text-center">{{ body }}</h3>
	<div class="grid-x medium-offset-2 small-offset-2 large-offset-2">
		<div class="large-10 cell medium-10 small-10">
			<div class="card-info secondary grid-padding-x">
				<div class="card-info-content">
					<h4><u>Your picture:</u></h4>
					<img src="{{ profile_picture }}" width="200" alt="Your profile picture!"/>
					<h4><u>Your bio:</u></h4>
					<h5>{{ bio }}</h5><p>
					<div id="app-3">
						<button class="button" v-on:click="show = !show">
							Click here to edit your profile
						</button>
						<transition name="fade">
							<form action="/profile_page/" method="post" v-if="show">
								{% csrf_token %}
								<h5 class="text-center">Type your new bio here:</h5>
								{{ form }}
								<input type="submit" class="button" value="Edit" />
							</form>
						</transition>
					</p>
					</div>
				</div>
			</div>
		</div>
		<div class="large-10 cell medium-10 small-10 card-info secondary grid-padding-x">
			<div class="card-info-content">
				<h4><u>Your pets:</u> <a href="/pet_reg/">Add a pet</a></h4>
				<div id="app-4">
					<div class="grid-container grid-x grid-padding-x">
						<div v-for="todo in pets">
							<div class="card-divider">
								{% verbatim %}
								<div class="card-info secondary card-info-content">
									<img :src="todo.image" width="200"/>
									<h3 class="lead">{{ todo.pet }}</h3>
									<h5>the {{ todo.breed }} is a {{ todo.species }}</h5>
								</div>
								{% endverbatim %}
							</div>
						</div>
					</div>
				</div> 
				<h6><a href="/pet_reg/">Add a pet</a></h6>
			</div>
		</div>
		<div class="large-10 cell medium-10 small-10 card-info secondary grid-padding-x">
			<div class="card-info-content">
				<h4><u>Your friends:</u> <a href="/new_friend/">Add a friend</a></h4>
				<div id="app-5">
					<div class="grid-container grid-x grid-padding-x">
						<div v-for="todo in friends">
								{% verbatim %}
								<div class="card-info secondary card-info-content">
									<img :src="todo.image" height="100" width="200">
									<h3 class="lead"><a :href="'/profile_page/' + todo.friend + '/'">{{ todo.friend }}</a> 
									 - <a :href="'/chat/' + todo.creator + '-' + todo.friend + '/'">Chat me!</a></h3>
									<h6 class="text-center" v-if="todo.accepted">They <b>have</b> friended you back.</h6>
									<h6 class="text-cneter" v-else="todo.accepted">They <b>haven't</b> friended you back yet.</h6>
								</div>
								{% endverbatim %}
						</div>
					</div>
				</div> 
				<h6><a href="/new_friend/">Add a friend</a></h6>
			</div>
		</div>
		<div class="large-10 cell medium-10 small-10 card-info secondary grid-padding-x">
			<div class="card-info-content">
				<h4><u>Chat system:</u></h4>
				<table style="width:100%">
					<tr>
						<th></th>
						<th>Popular chat rooms</th>
						<th></th>
					</tr>
					<tr>
						<th><h6><a href = "/chat/dogpeople/">Dog people chat</a></h6></th>
						<th><h6><a href = "/chat/catpeople/">Cat people chat</a></h6></th>
						<th><h6><a href = "/chat/coolpeople/">Cool people chat</a></h6></th>
					</tr>
					<tr>
						<th></th>
						<th><h6><a href = "/chat/">Make a new chat room</a></h6></th>
						<th></th>
					</tr>
				</table>
			</div>
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{% static "js/myvue.js" %}"></script>
{% endblock %}
