{% load static %}
{% include "base.html" %}

      <div class="row text-right">
      <div class="col-4 mt-5"></div>

  <div class="col-4 mt-5 p-5 text-left bg-white">
    <form method="POST" >
       {% csrf_token %}
       <h4 class="text-center">Register</h4>
       			{{ form.errors }}
       			{{ form.username.label_tag }}
       			{{ form.username }} <br>
       			{{ form.email.label_tag }}
       			{{ form.email }} <br>
       			{{ form.password.label_tag }}
       			{{ form.password }} <br>
            <h4 class="text-center">Register your profile</h4>
            {{ form.profile_fname.label_tag }}
            {{ form.profile_fname }} <br>
            {{ form.profile_lname.label_tag }}
            {{ form.profile_lname }} <br>
       			{{ form.profile_bio.label_tag }}
       			{{ form.profile_bio }} <br>
       			<input type="submit" class="button expanded" value="Register" />
    </form>
  </div>

</body>
</html>
